#d1{
    font-size: 24px;
    font-weight: 600;
    font-family: 微软雅黑;
}
#d2{
    height: 400px;
    background-color: #eeeeee;
}
.layui-form-item{
}
#tab{

}
#font2{
    font-size: 24px;
    font-weight: 600;
    font-family: 微软雅黑;
}